<?xml version='1.0' encoding='utf-8'?>
<widget id="tk.edurapp.piggymoney" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Piggy Money</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
	<preference name="Fullscreen" value="true" />
	<preference name="orientation" value="portrait" />
	<plugin name="cordova-plugin-device-motion"/>
</widget>
